.up-pagination {
  margin-bottom: 0;
  margin-top: 30px;
}

.down-pagination {
  margin-bottom: 30px;
  margin-top: 0px;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-item,
.rc-pagination-jump-next,
.rc-pagination-jump-prev {
  height: 37px;
  line-height: 37px;
  min-width: 30px;
  border-radius: 4px;
  margin-right: 20px;
}

.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-item,
.rc-pagination-item-active,
.rc-pagination-item:hover {
  border: 1px solid var(--light-grey);
}

.rc-pagination-item-active {
  background-color: transparent;
}

.rc-pagination-next {
  margin-left: 20px;
}

.rc-pagination-prev {
  margin-right: 40px;
}

.rc-pagination-item:hover a {
  color: var(--black);
}

.rc-pagination-item a,
.rc-pagination-prev a,
.rc-pagination-next a,
.rc-pagination-jump-next:hover:after,
.rc-pagination-jump-prev:hover:after {
  color: var(--dark-grey);
}

.rc-pagination-item-active a {
  color: var(--black);
  font-weight: bold;
}

@media (max-width: 767px) {
  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-item,
  .rc-pagination-jump-next,
  .rc-pagination-jump-prev {
    margin-right: 5px;
  }

  .rc-pagination-next {
    margin-left: 0;
  }

  .rc-pagination {
    margin-left: -20px;
    margin-right: -20px;
  }
}
