div.card-pf.login {
  margin-top: 30px;
}

div.card-pf.login > div.logo {
  background-image: url('./assets/LISA-logo-claim-white-m.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 53%;
}

div.card-pf.login > .card-pf-body {
  margin-top: 0;
}

div.card-pf.login > .card-pf-body > .form-horizontal > h1 {
  font-size: 24px;
  font-weight: 300;
  margin: 0 auto 40px auto;
}

button.login {
  margin-top: 20px;
  width: 100%;
}
