.input-group .form-control[readonly].touchspin-input  {
  background-color: transparent;
  color: #333;
}

.touchspin-input-group {
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.touchspin-input-group span.input-group-btn:first-child {
  border-right: 1px solid #ccc;
}

.touchspin-input-group span.input-group-btn:last-child {
  border-left: 1px solid #ccc;
}

.touchspin-input-group > input[name=hostCount] {
  border: 0;
}


span.touchspin-input-group button,
span.touchspin-input-group button:active,
span.touchspin-input-group button:focus,
span.touchspin-input-group button:hover,
span.touchspin-input-group button:active:focus {
  width: 30px;
  outline: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
