div.pf-v5-c-page {
  --pf-v5-c-page--BackgroundColor: var(--pf-v5-global--palette--white);
  --pf-v5-c-page__main-section--BackgroundColor: var(--pf-v5-global--palette--white);
  --pf-v5-c-masthead__main--MinHeight: 2.75rem;
  /* --pf-v5-c-page__header-brand--xl--PaddingRight: 12rem; */
  --pf-v5-c-masthead--c-toolbar__expandable-content--PaddingRight: 15rem;
  --pf-v5-c-page__main-section--xl--PaddingRight: 15rem;
  --pf-v5-c-page__main-section--xl--PaddingLeft: 15rem;
}

div.pf-v5-c-content {
  --pf-v5-c-content--dl--ColumnGap: var(--pf-v5-global--spacer--sm);
}

button.pf-v5-c-button {
  --pf-v5-c-button--m-primary--BackgroundColor: #39a5dc;
  --pf-v5-c-button--m-primary--hover--BackgroundColor: #0088ce;
  --pf-v5-c-button--m-primary--focus--BackgroundColor: #0088ce;
  --pf-v5-c-button--m-primary--active--BackgroundColor: #0088ce;
}
