div.pf-c-page {
  --pf-c-page--BackgroundColor: var(--pf-global--palette--white);
  --pf-c-page__main-section--BackgroundColor: var(--pf-global--palette--white);
  --pf-c-page__header--MinHeight: 2.75rem;
  --pf-c-page__header-brand--xl--PaddingLeft: 15rem;
  /* --pf-c-page__header-brand--xl--PaddingRight: 12rem; */
  --pf-c-page__header-tools--xl--MarginRight: 15rem;
  --pf-c-page__main-section--xl--PaddingRight: 15rem;
  --pf-c-page__main-section--xl--PaddingLeft: 15rem;
}

div.pf-c-content {
  --pf-c-content--dl--ColumnGap: var(--pf-global--spacer--sm);
}

button.pf-c-button {
  --pf-c-button--m-primary--BackgroundColor: #39a5dc;
  --pf-c-button--m-primary--hover--BackgroundColor: #0088ce;
  --pf-c-button--m-primary--focus--BackgroundColor: #0088ce;
  --pf-c-button--m-primary--active--BackgroundColor: #0088ce;
}
