---
name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: true
    timeout-minutes: 10
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        node-version: [14.x, 16.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
      - run: npm run lint
      - name: npm test
        run: |
          npx ajv -d src/settings/example.json -s src/settings/settings.schema.json
          npx ajv -d src/settings/test.json -s src/settings/settings.schema.json
          npm test
      - run: mv src/settings/test.json src/settings/production.json
      - run: npm run build

  docker:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: Docker Build
        run: |
          cp src/settings/example.json src/settings/production.json
          docker build -t lisa-image .
